{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Spicy Afterpay plugin for Craft CMS 3.x
 *
 * Spicy Afterpay index.twig
 *
 * @author    Spicy Web
 * @copyright Copyright (c) 2020 Spicy Web
 * @link      https://github.com/spicywebau
 * @package   SpicyAfterpay
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("spicyweb\\spicyafterpay\\assetbundles\\spicyafterpay\\SpicyAfterpayAsset") %}
{% do view.registerAssetBundle("spicyweb\\spicyafterpay\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/https://github.com/spicywebau/craft-spicy-afterpay/spicy-afterpay/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Spicy Afterpay" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('spicy-afterpay') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@spicyweb/spicyafterpay/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('spicy-afterpay') }}</a>
	</div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
	<h2>{{ "Index CP Section body goes here"|t('spicy-afterpay') }}</h2>
	<img src="{{ iconUrl }}" height="64" width="64"/>
	<p class="textline"></p>
{% endset %}
