<div class="spicy-afterpay" data-prepare="{{ siteUrl('get-afterpay-token') }}" data-cartid="{{ craft.commerce.carts().cart.id }}" data-local="{{ gateway.region }}">
	<button id="afterpay" class="button">{{ gateway.buttonText is not empty ? gateway.buttonText : 'Pay now' }}</button>
</div>