{% import "_includes/forms" as forms %}

{% if craft.spicyAfterpay.afterpayStatus() %}

{% else %}
    <p class="sap-error">There was an issue communication with the Afterpay servers. Please try again with another method.</p>
{% endif %}

